
<p-toast></p-toast>

<div class="w-full">
  <div class="card-header bg-primary flex justify-content-between w-full">
    <div class="m-2">
      <h6>User List</h6>
    </div>
    <div class="m-2">
      <p-button (click)="showDialog()" label="ADD USER" [raised]="true" severity="contrast" [outlined]="true"></p-button>
    </div>
  </div>
  <div class="card-body w-full">
    <p-table [value]="userList" [tableStyle]="{ 'min-width': '50rem' }" class="table" [paginator]="true" [rows]="5">
      <ng-template pTemplate="header">
        <tr>
          <th>Department</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Mobile</th>
          <th>Email</th>
          <th>DOJ</th>
          <th>Address</th>
          <th>Salary</th>
          <th>City</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.department }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.gender }}</td>
          <td>{{ user.mobile }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.doj }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.salary }}</td>
          <td>{{ user.city }}</td>
          <td>
            <i class="pi pi-pen-to-square bg-info rounded-5 p-2 mr-2" (click)="showDialog(user)" style="font-size: 1rem;"></i>
            <i class="pi pi-trash bg-danger rounded-5 p-2" (click)="confirmDelete(user.id)" style="font-size: 1rem;"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


<p-dialog
  header="User Form"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <div class="card-header bg-primary">
    <div class="row col-12">
      <div class="col-6 text-white">
        <h6 class="p-2 overflow-auto">{{ editMode ? 'Edit User' : 'Add User' }}</h6>
      </div>
      <div class="col-6 text-end">
        <button pButton label="Reset" (click)="resetForm()" pRipple></button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="col-12 flex justify-content-between">
        <div class="col-6">
          <input type="text" pInputText placeholder="Department" id="department" formControlName="department" />
          <small *ngIf="department.invalid &&(department.dirty || department.touched)"
          class="block p-error"
          >
              <div *ngIf="department.errors?.['required']">
                Department is required
              </div>
          </small>

        </div>
        <div class="col-6">
          <input type="text" formControlName="name" pInputText placeholder="Name" />
          <small *ngIf="name.invalid &&(name.dirty || name.touched)"
          class="block p-error"
          >
          <div *ngIf="name.errors?.['required']">*Name is required</div>
          <div *ngIf="name.errors?.['pattern']">*Correct name  required</div>
          </small>
        </div>
      </div>
      <div class="flex col-12 justify-content-between">
        <div class="col-6">
          <input  pInputText   formControlName="mobile" placeholder="Mobile"/>
          <small *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)" class="block p-error">
            <div *ngIf="mobile.errors?.['required']">*Number required</div>
            <div *ngIf="mobile.errors?.['minlength']">*Minimum ten digits required</div>
            <div *ngIf="mobile.errors?.['maxlength']">*Maximum twelve digits allowed</div>
          </small>
        </div>
        <div class="col-6">
          <input  formControlName="email" pInputText placeholder="Email" />
          <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
            <div *ngIf="email.errors?.['required']">*Email is required</div>
            <div *ngIf="email.errors?.['email']">*Email should be valid</div>
          </small>
        </div>
      </div>
      <div class="flex col-12">
        <div class="col-6">
          <input formControlName="doj" pInputText type="date" dateFormat="dd.mm.yy" />
          <small *ngIf="doj.invalid && (doj.dirty ||doj.touched)" class="block p-error">
            <div *ngIf="doj.errors?.['required']">*Date is required</div>
          </small>
          <!-- <p-floatLabel>
            <p-calendar 
            formControlName="doj"
            dateFormat="dd.mm.yy" />
            <label for="birth_date">join Date</label>
        </p-floatLabel> -->
        </div>
        <div class="col-6 flex">
          <div class="col-6 form-check-inline">
            <input type="radio" formControlName="gender" class="form-check-input" value="male" name="gender" id />
            <label class="form-check-label">Male</label>
          </div>
          <div class="form-check col-6 form-check-inline">
            <input type="radio" formControlName="gender" class="form-check-input" value="female" name="gender" id />
            <label class="form-check-label">Female</label>
          </div>
        </div>
      </div>
      <div class="col-12 flex">
        <div class="col-6">
          <input type="text" placeholder="City" pInputText formControlName="city" />
          <small *ngIf="city.invalid && (city.dirty || city.touched)" class="block p-error" >
            <div *ngIf="city.errors?.['required']">*City name is required</div>
          </small>
        </div>
        <div class="col-6">
          <p-inputNumber placeholder="Salary" formControlName="salary"></p-inputNumber>
        </div>
      </div>
      <div class="col-12">
        <p-floatLabel>
          <textarea rows="5" cols="30" id="float-input" formControlName="address" pInputTextarea class="w-100"></textarea>
          <label for="float-input">Enter address</label>
         

      
        </p-floatLabel>
        <small *ngIf="address.invalid && (address.dirty || address.touched)" class="block p-error">
          <div *ngIf="address.errors?.['required']">*address is required</div>
          </small>
      </div>
      <div class="col-12">
        <button pButton label="{{ editMode ? 'Update' : 'Save' }}" pRipple type="submit" class="btn btn-primary w-100"></button>
      </div>
      <div class="col-12">
        <button pButton label="Cancel" type="button" (click)="hideDialog()" class="btn btn-danger w-100"></button>
      </div>
    </form>
  </div>
</p-dialog>


<p-confirmDialog></p-confirmDialog>

